In [4]:
from langchain.agents import create_sql_agent, AgentType
from langchain.chat_models import ChatOpenAI
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase

llm = ChatOpenAI(
    temperature=0.1,
    model_name="gpt-4o-mini",
)
db = SQLDatabase.from_uri("sqlite:///../movies.sqlite")
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

agent = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    agent_type=AgentType.OPENAI_FUNCTIONS,
    handle_parsing_errors=True,
    verbose=True,
)

agent.invoke(
    "Give me the movies that have the highest votes but the lowest budgets, and give me the name of their directors also include their gross revenue."
)

> Entering new AgentExecutor chain...

Invoking: `sql_db_list_tables` with ``


directors, movies
Invoking: `sql_db_schema` with `movies`



CREATE TABLE movies (
	id INTEGER,
	original_title VARCHAR,
	budget INTEGER,
	popularity INTEGER,
	release_date TEXT,
	revenue INTEGER,
	title TEXT,
	vote_average REAL,
	vote_count INTEGER,
	overview TEXT,
	tagline TEXT,
	uid INTEGER,
	director_id INTEGER DEFAULT 0 NOT NULL,
	PRIMARY KEY (id)
)

/*
3 rows from movies table:
id	original_title	budget	popularity	release_date	revenue	title	vote_average	vote_count	overview	tagline	uid	director_id
43597	Avatar	237000000	150	2009-12-10	2787965087	Avatar	7.2	11800	In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but 	Enter the World of Pandora.	19995	4762
43598	Pirates of the Caribbean: At World's End	300000000	139	2007-05-19	961000000	Pirates of the Caribbean: At World's End	6.9	4500	Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the E	At the end of the world, the adventure begins.	285	4763
43599	Spectre	245000000	107	2015-10-26	880674609	Spectre	6.3	4466	A cryptic message from Bondâ€™s past sends him on a trail to uncover a sinister organization. While M 	A Plan No One Escapes	206647	4764
*/
Invoking: `sql_db_schema` with `directors`



CREATE TABLE directors (
	name TEXT,
	id INTEGER,
	gender INTEGER,
	uid INTEGER,
	department TEXT,
	PRIMARY KEY (id)
)

/*
3 rows from directors table:
name	id	gender	uid	department
James Cameron	4762	2	2710	Directing
Gore Verbinski	4763	2	1704	Directing
Sam Mendes	4764	2	39	Directing
*/
Invoking: `sql_db_query_checker` with `SELECT m.title, m.budget, m.revenue, m.vote_count, d.name
FROM movies m
JOIN directors d ON m.director_id = d.id
ORDER BY m.vote_count DESC, m.budget ASC
LIMIT 10;`
responded: To find the movies with the highest votes but the lowest budgets, along with their directors and gross revenue, I will construct a query that joins the `movies` and `directors` tables.

The relevant columns to select are:
- From `movies`: `title`, `budget`, `revenue`, `vote_count`, `director_id`
- From `directors`: `name`

I will order the results by `vote_count` in descending order and `budget` in ascending order to get the highest voted movies with the lowest budgets.

Here is the query I will use:

```sql
SELECT m.title, m.budget, m.revenue, m.vote_count, d.name
FROM movies m
JOIN directors d ON m.director_id = d.id
ORDER BY m.vote_count DESC, m.budget ASC
LIMIT 10;
```

Now, I will check the query for correctness before executing it.

```sql
SELECT m.title, m.budget, m.revenue, m.vote_count, d.name
FROM movies m
JOIN directors d ON m.director_id = d.id
ORDER BY m.vote_count DESC, m.budget ASC
LIMIT 10;
```
Invoking: `sql_db_query` with `SELECT m.title, m.budget, m.revenue, m.vote_count, d.name
FROM movies m
JOIN directors d ON m.director_id = d.id
ORDER BY m.vote_count DESC, m.budget ASC
LIMIT 10;`


[('Inception', 160000000, 825532764, 13752, 'Christopher Nolan'), ('The Dark Knight', 185000000, 1004558444, 12002, 'Christopher Nolan'), ('Avatar', 237000000, 2787965087, 11800, 'James Cameron'), ('The Avengers', 220000000, 1519557910, 11776, 'Joss Whedon'), ('Deadpool', 58000000, 783112979, 10995, 'Tim Miller'), ('Interstellar', 165000000, 675120017, 10867, 'Christopher Nolan'), ('Django Unchained', 100000000, 425368238, 10099, 'Quentin Tarantino'), ('Guardians of the Galaxy', 170000000, 773328629, 9742, 'James Gunn'), ('The Hunger Games', 75000000, 691210692, 9455, 'Gary Ross'), ('Mad Max: Fury Road', 150000000, 378858340, 9427, 'George Miller')]Here are the movies with the highest votes but the lowest budgets, along with their directors and gross revenue:

1. **Inception**
   - Director: Christopher Nolan
   - Budget: $160,000,000
   - Revenue: $825,532,764
   - Votes: 13,752

2. **The Dark Knight**
   - Director: Christopher Nolan
   - Budget: $185,000,000
   - Revenue: $1,004,558,444
   - Votes: 12,002

3. **Avatar**
   - Director: James Cameron
   - Budget: $237,000,000
   - Revenue: $2,787,965,087
   - Votes: 11,800

4. **The Avengers**
   - Director: Joss Whedon
   - Budget: $220,000,000
   - Revenue: $1,519,557,910
   - Votes: 11,776

5. **Deadpool**
   - Director: Tim Miller
   - Budget: $58,000,000
   - Revenue: $783,112,979
   - Votes: 10,995

6. **Interstellar**
   - Director: Christopher Nolan
   - Budget: $165,000,000
   - Revenue: $675,120,017
   - Votes: 10,867

7. **Django Unchained**
   - Director: Quentin Tarantino
   - Budget: $100,000,000
   - Revenue: $425,368,238
   - Votes: 10,099

8. **Guardians of the Galaxy**
   - Director: James Gunn
   - Budget: $170,000,000
   - Revenue: $773,328,629
   - Votes: 9,742

9. **The Hunger Games**
   - Director: Gary Ross
   - Budget: $75,000,000
   - Revenue: $691,210,692
   - Votes: 9,455

10. **Mad Max: Fury Road**
    - Director: George Miller
    - Budget: $150,000,000
    - Revenue: $378,858,340
    - Votes: 9,427

These movies represent a mix of high popularity and varying budgets.

> Finished chain.

{'input': 'Give me the movies that have the highest votes but the lowest budgets, and give me the name of their directors also include their gross revenue.',
 'output': 'Here are the movies with the highest votes but the lowest budgets, along with their directors and gross revenue:\n\n1. **Inception**\n   - Director: Christopher Nolan\n   - Budget: $160,000,000\n   - Revenue: $825,532,764\n   - Votes: 13,752\n\n2. **The Dark Knight**\n   - Director: Christopher Nolan\n   - Budget: $185,000,000\n   - Revenue: $1,004,558,444\n   - Votes: 12,002\n\n3. **Avatar**\n   - Director: James Cameron\n   - Budget: $237,000,000\n   - Revenue: $2,787,965,087\n   - Votes: 11,800\n\n4. **The Avengers**\n   - Director: Joss Whedon\n   - Budget: $220,000,000\n   - Revenue: $1,519,557,910\n   - Votes: 11,776\n\n5. **Deadpool**\n   - Director: Tim Miller\n   - Budget: $58,000,000\n   - Revenue: $783,112,979\n   - Votes: 10,995\n\n6. **Interstellar**\n   - Director: Christopher Nolan\n   - Budget: $165,000,000\n   - Revenue: $675,120,017\n   - Votes: 10,867\n\n7. **Django Unchained**\n   - Director: Quentin Tarantino\n   - Budget: $100,000,000\n   - Revenue: $425,368,238\n   - Votes: 10,099\n\n8. **Guardians of the Galaxy**\n   - Director: James Gunn\n   - Budget: $170,000,000\n   - Revenue: $773,328,629\n   - Votes: 9,742\n\n9. **The Hunger Games**\n   - Director: Gary Ross\n   - Budget: $75,000,000\n   - Revenue: $691,210,692\n   - Votes: 9,455\n\n10. **Mad Max: Fury Road**\n    - Director: George Miller\n    - Budget: $150,000,000\n    - Revenue: $378,858,340\n    - Votes: 9,427\n\nThese movies represent a mix of high popularity and varying budgets.'}

In [1]:
from langchain.agents import create_sql_agent, AgentType
from langchain.chat_models import ChatOpenAI
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase

llm = ChatOpenAI(
    temperature=0.1,
    model_name="gpt-4o-mini",
)
db = SQLDatabase.from_uri("sqlite:///../movies.sqlite")
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

agent = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
    handle_parsing_errors=True,
    verbose=True,
)

agent.invoke(
    "Give me the movies that have the highest votes but the lowest budgets, and give me the name of their directors also include their gross revenue."
)

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input: ''
Observation: directors, movies
Thought:I need to check the schema of the "movies" and "directors" tables to understand their structure and the relevant columns I can use for my query.
Action: sql_db_schema
Action Input: 'movies, directors'
Observation: Error: table_names {"'movies", "directors'"} not found in database
Thought:It seems there was an error in retrieving the schema for the tables. I will first check the list of tables again to ensure they exist and are correctly named.

Action: sql_db_list_tables
Action Input: ''
Observation: directors, movies
Thought:The tables "directors" and "movies" do exist. I will now check the schema of each table to find the relevant columns for my query.

Action: sql_db_schema
Action Input: 'movies, directors'
Observation: Error: table_names {"'movies", "directors'"} not found in database
Thought:It seems that there is a persistent issue with retrieving the schema for the tables. I will check the schema of each table individually to identify the relevant columns for my query.

Action: sql_db_schema
Action Input: 'movies'
Observation: Error: table_names {"'movies'"} not found in database
Thought:It seems that there is a persistent issue with retrieving the schema for the "movies" table. I will check the schema for the "directors" table to see if I can gather any relevant information from it.

Action: sql_db_schema
Action Input: 'directors'
Observation: Error: table_names {"'directors'"} not found in database
Thought:It seems that I am unable to retrieve the schema for either the "movies" or "directors" tables, which may indicate a deeper issue with accessing the database. Since I cannot gather the necessary information to construct a valid query, I will have to conclude that I cannot provide an answer to your question.

Final Answer: I don't know.

> Finished chain.

{'input': 'Give me the movies that have the highest votes but the lowest budgets, and give me the name of their directors also include their gross revenue.',
 'output': "I don't know."}